@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #fa7541 10%, #4981fa 90%);
}

.container {
    margin: 120px auto;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}


.container .header h3 {
    font-size: 30px;
    font-weight: 600;
}

.container .inputField {
    display: flex;
    height: 40px;
    width: 100%;
    margin: 20px 0;
}

.inputField input {
    width: 85%;
    height: 100%;
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius: 3px;
    padding-left: 15px;
    outline: none;
}

.inputField button {
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background: #0c61cf;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 7px;
    opacity: 0.6;
    pointer-events: none;
}

.inputField button.active {
    opacity: 1;
    pointer-events: auto;
}

.container .todoList {
    max-height: 250px;
    overflow-y: auto;
}

.todoList li {
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #eeeeee;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}

.todoList li:hover span {
    right: 0;
}

.todoList li span {
    position: absolute;
    right: -45px;
    color: #fff;
    text-align: center;
    width: 45px;
    background-color: #ec5e4e;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container .footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    align-items: center;
}

.footer button {
    border: none;
    outline: none;
    background: #2ba0ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 10px;
    opacity: 0.6;
    pointer-events: none;
}

.footer button.active {
    opacity: 1;
    pointer-events: auto;
}

